.recipes {
    padding-top: 103px;
    background-color: blue;
    &__title {
        text-align: center;
    }
    &__text {
        margin: 24px auto 96px auto;
        max-width: 706px;
        text-align: center;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 40px;
    }
}

@media (max-width: 430px) {
    .recipes {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        }
    }
}