.try {
    padding: 160px 0 0 0;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        max-width: 507px;
        
    }
    &__text {
        max-width: 620px;
        padding-left: 20px;
        line-height: 175%;
    }
    &__wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 80px 0 0 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 40px;
    }
}

@media (max-width: 649px) {
    .try {
        padding: 80px 0 0 0;
        &__header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__text {
            margin-top: 20px;
        }
        
    }
}